@import "vars";
@import "vendor/reset";

html{
    font-size: 62.5%;
}
body {
    background-color: #181818;

    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.4rem;
    line-height: 1.5;
    color: $white;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

a{
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

// BLOCKS
@import "blocks/page";
@import "blocks/container";
@import "blocks/embed";
@import "blocks/btn";
@import "blocks/form";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/subnav";
@import "blocks/search";
@import "blocks/sidebar";
@import "blocks/profile";
@import "blocks/social";
@import "blocks/main";
@import "blocks/stories";
@import "blocks/add-post";
@import "blocks/post";
@import "blocks/pagination";
@import "blocks/related";
@import "blocks/comments";
@import "blocks/work";
@import "blocks/tags";