$primary: #202020;
$secondary: #121212;
$white: #fff;
$light-gray: #DEDEDE;
$gray: #d2d2d2;
$dark-gray: #828282;
$red: #ED3024;
$blue: #3137C9;
$black: #000;


$z-index-sidebar: 1000;
$z-index-header: 1000;

$header-width: 300px;