.btn{
    display: inline;
    vertical-align: center;
    
    background: $secondary;
    border: 0;
    border-radius: 3em;
    padding: 1.12em 2.1em;

    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.1;
    color: $white;
    text-decoration: none;

    transition: background-color .2 linear;

    &--red{
        background-color: $red;
        box-shadow: 0 7px 17px -10px rgba($red, .2);

        &:hover{
            background-color: darken($red, 10%);
        }
    }

    &--blue{
        background-color: $blue;
        box-shadow: 0 7px 17px -10px rgba($blue, .2);

        &:hover{
            background-color: darken($blue, 10%);
        }
    }

    &--rounded{
        border-radius: 0.41em;
    }

    &--sm{
        padding: .7em 1.25em;
    }
}