.pagination{
    display: flex;
    justify-content: center;
    margin-top: 8rem;

    &__item{
        margin: 0 .5rem;
    }

    &__link{
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 3px;
        background-color: #0D0D0D;
        box-shadow: 0 0 10px rgba($black, .15);
        color: $white;
        font-size: 1.4rem;
        text-decoration: none;
        transition: background-color .2s linear;
        line-height: 4rem;
        text-align: center;


        &:hover{
            background-color: lighten(#0d0d0d, 2%);
        }

        &.active{
            background-color: #104BE3;
            box-shadow: 0 0 10px rgba(#104BE3, .15);
        }
    }
}