.related{
    padding: 3rem 0 ;
    border-bottom: 1px solid #1C1C1C;

    &__list{
        display: flex;
        flex-wrap: wrap;
    }
    &__list-item{
        width: 50%;
        margin-bottom: 2.5rem;
    
        a{
            color: inherit;
        }
        &:nth-last-child(-n+2){
            margin-bottom: 0;
        }
    }

    &__list-title{
        font-size: 1.4rem;
        font-weight: 500;
        color: #F3EBA2;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__list-date{
        font-size: 1.2rem;
        font-weight: 400;
        color: #828282;
    }
}