<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar-header.jpg" alt="">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="https://placehold.it/100" alt="">
            <div class="profile__name">No name</div>
            <div class="profile__prof">блог front-end разработчика</div>
            <ul class="social">
                <li class="social__item">
                    <a href="#" class="social__link">
                        <img src="assets/images/icons/instagram.svg" alt="Instagram" class="social__image">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link">
                        <img src="assets/images/icons/vk.svg" alt="Vk" class="social__image">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link">
                        <img src="assets/images/icons/pin.svg" alt="Pinterest" class="social__image">
                    </a>
                </li>
            </ul>

            <div class="profile__text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni quis officia corporis dignissimos delectus. Excepturi laboriosam odio fugit vel culpa dicta dolores, quas inventore voluptatum, ad consectetur suscipit. Voluptatibus, pariatur.
            </div>
        </div>
    </div>
    <div class="sidebar__footer">
        <a class="btn btn--red" href="#">Мои работы</a>
        <button class="btn btn--blue" type="button">Написать мне</button>
    </div>
</aside>